#btn-info {
    background-size: 14px !important;
    background-image: url(../resource/info.svg);
}

#dialog-info {
    .mdc-dialog__title {
        color: #fff;
    }
    .mdc-dialog__surface {
        width: 80vw;
        max-width: 800px;
        max-height: calc(100% - 64px);
        background-color: rgba($color: #333, $alpha: 1.0);
    }
    .mdc-dialog__content {
        display: flex;
        flex-direction: column;
        padding: 0 10px 0 0;
        margin: 0 20px;
        overflow-x: hidden;
        box-sizing: border-box;
        p {
            color: rgba($color: #fff, $alpha: 0.8);
            word-wrap: break-word;
            a:link, a:visited {
                color: #fff;
            }
        }
        h2 {
            color: #fff;
        }
        #list-licenses {
            border: 1px solid rgba($color: #fff, $alpha: 0.5);
            border-radius: 5px;
            width: 100%;
            min-height: 300px;
            overflow-y: auto;
            .mdc-list-item {
                height: 50px;
                user-select: none;
                .mdc-list-item__primary-text {
                    color: rgba($color: #fff, $alpha: 0.8);
                    &::before {
                        height: 22px;
                    }
                }
                .mdc-list-item__secondary-text {
                    color: rgba($color: #fff, $alpha: 0.3);
                }
            }
        }
    }
    footer .mdc-button {
        @include button-base;
    }
}