#btn-settings {
    background-size: 14px !important;
    background-image: url(../resource/settings.svg);
}

#dialog-settings {
    .mdc-dialog__title {
        color: #fff;
    }
    .mdc-dialog__surface {
        width: 80vw;
        max-width: 800px;
        background-color: rgba($color: #333, $alpha: 1.0);
    }
    .mdc-dialog__content {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: 10px;
        #textfield-mcpath {
            @include textfield;
        }
        #btn-pickdir {
            @include button-base;
            margin-left: 5px;
        }
    }
    footer .mdc-button {
        @include button-base;
        &:nth-child(1) {
            margin-right: 10px;
        }
    }
}