#dialog-settings.mdc-dialog(role="alertdialog", aria-modal="true")
        .mdc-dialog__container
            .mdc-dialog__surface
                h1.mdc-dialog__title.mdc-typography--headline5 Settings
                .mdc-dialog__content
                    #textfield-mcpath.mdc-text-field.mdc-text-field--outlined
                        input.mdc-text-field__input(type="text")
                        .mdc-notched-outline
                            .mdc-notched-outline__leading
                            .mdc-notched-outline__notch
                                label.mdc-floating-label .minecraft path
                            .mdc-notched-outline__trailing
                    button#btn-pickdir.mdc-button(type="button")
                        span.mdc-button__label Brous...
                footer.mdc-dialog__actions
                    button.mdc-button(type="button", data-mdc-dialog-action="cancel")
                        span.mdc-button__label Cancel
                    button.mdc-button(type="button", data-mdc-dialog-action="ok")
                        span.mdc-button__label OK
        .mdc-dialog__scrim