extends _base

block titlebar_buttons
    - var isMinimize = true
    - var isMaximize = true
    - var isClose = true
    button#btn-info.mdc-button
    button#btn-settings.mdc-button

block styles
    link(rel="stylesheet", href="../css/main.css")

block scripts
    script(src="../js/main.js")

block body
    #search
        //- バージョン選択
        #select-version.mdc-select.mdc-select--outlined
            i.mdc-select__dropdown-icon
            .mdc-select__selected-text
            #select-version__menu.mdc-select__menu.mdc-menu.mdc-menu-surface
                ul.mdc-list
            .mdc-notched-outline
                .mdc-notched-outline__leading
                .mdc-notched-outline__notch
                    label.mdc-floating-label Select Version
                .mdc-notched-outline__trailing

        //- 検索ボックス
        #textfield-search.mdc-text-field.mdc-text-field--outlined
            input.mdc-text-field__input(type="text")
            .mdc-notched-outline
                .mdc-notched-outline__leading
                .mdc-notched-outline__notch
                    label.mdc-floating-label Search
                .mdc-notched-outline__trailing

    #sound-list
        //- サウンドリスト
        ul#list-sounds.mdc-list.mdc-list--two-line(role="listbox")


    #controller
        //- ボリュームスライダー
        #volumebar
            label Volume
            p 1.0
            #slider-volume.mdc-slider(role="slider", aria-valuemin="0" aria-valuemax="1" aria-valuenow="1", data-step="0.1" aria-label="Select")
                .mdc-slider__track-container
                    .mdc-slider__track
                .mdc-slider__thumb-container
                    span.mdc-slider__thumb
                .mdc-slider__focus-ring

        //- ピッチスライダー
        #pitchbar
            label Pitch
            p 1.0
            #slider-pitch.mdc-slider(role="slider", aria-valuemin="0.5" aria-valuemax="2" aria-valuenow="1", data-step="0.1" aria-label="Select")
                .mdc-slider__track-container
                    .mdc-slider__track
                .mdc-slider__thumb-container
                    span.mdc-slider__thumb

        //- ループスイッチ
        #loopswitch
            label Loop
            p off
            #switch-loop.mdc-switch
                .mdc-switch__track
                .mdc-switch__thumb-underlay
                    .mdc-switch__thumb
                        input#sw.mdc-switch__native-control(type="checkbox")

    //- 再生ボタン
    #btn-play.mdc-button Play

block dialogs
    include _info_dialog.pug
    include _settings_dialog.pug